@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

/* CSS HEX */
--catawba: #773344ff;
--melon: #e3b5a4ff;
--linen: #f5e9e2ff;
--xiketic: #0b0014ff;
--brick-red: #d44d5cff;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #FAFAFA;
}

